.hero {
  position: relative;
  width: 100%;
  overflow: hidden;

  &__carousel {
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease-in-out;
    position: relative;

    &--item {
      min-width: 100%;
      position: relative;

      &-text {
        position: absolute;
        top: 20%;
        color: white;
        width: 55%;

        .heading-paragraph {
          color: $color-primary;
          font-size: 3rem;
          font-weight: 500;
          text-transform: capitalize;
        }

        .text-paragraph {
          font-size: $normal-fontSize;
          font-weight: 500;
          line-height: 30px;
        }
        .hero-btns {
          align-items: center;

          .btn-play {
            border: 0;
            background-color: transparent;
            cursor: pointer;

            &__div {
              position: relative;
              margin-left: 5rem;
              display: flex;
              align-items: center;
              justify-content: center;
              z-index: 8;

              .icon-play {
                color: $color-primary;
                background: transparent;
                // border: 0;
                cursor: pointer;
                font-size: 2rem;
                font-weight: 500;
                font-family: "Sen", sans-serif;
                outline: 4px;
                border: 1px solid $color-primary;
                border-radius: 50%;
              }

              &::before,
              &::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                border-radius: 50%;
              }
              &::after {
                background: hsla(0, 0%, 100%, 0.749);
                z-index: 1;
                animation: pulseAnimation 1s infinite;

                @keyframes pulseAnimation {
                  0% {
                    transform: scale(1);
                    opacity: 0.7;
                  }
                  100% {
                    transform: scale(2.3);
                    opacity: 0;
                  }
                }
              }
            }
          }
          .watch-intro {
            margin-left: 3.5rem;
            font-size: 2rem;
            font-weight: 700;
          }
        }
      }

      &-image {
        width: 100%;
        height: 100vh;
        object-fit: cover;
      }
    }
  }
  .prev-btn,
  .next-btn {
    border: none;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 8;
    color: $color-primary;
    top: 50%;
    background: transparent;
    border: 3px solid $color-primary;
    padding: 1rem;
    z-index: 1000;
  }

  .prev-btn {
    left: 5rem;
    transform: rotate(180deg);
  }

  .next-btn {
    right: 5rem;
  }
}
.heading-primary {
  font-size: 7rem;
  opacity: 0.9;
}
