.experience {
  padding-top: 2rem;
  padding-bottom: 2rem;

  &__heading--fontSize {
    font-size: 6rem;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__left {
      &__textTop {
        font-size: $normal-fontSize;
        line-height: 3rem;
      }

      &__imageCards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;

        // &__image {
        //   height: 100%;
        //   width: 100%;
        //   object-fit: cover;

        //   &:hover {
        //     transform: scale(1.1);
        //     transition: all 0.4s ease-in-out;
        //   }
        // }

        &__container {
          height: 23rem;
          overflow: hidden;

          &__image {
            height: 23rem;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;

            &:hover {
              transform: scale(1.1);
              transition: all 0.4s ease-in-out;
            }
          }
        }
      }
      &__stats {
        padding: 2.5rem 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        &__item {
          &__score {
            font-size: $bigger-fontSize;
            margin-bottom: 1rem;

            span {
              color: $color-primary;
            }
          }
          &__title {
            font-size: $normal-fontSize;
            font-weight: 500;
          }
        }
      }
    }
    &__right {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
