.headerElement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;

  &__title {
    &__small {
      position: relative;
      display: inline-block;
      padding-left: 6rem;
      color: $color-primary;
      font-weight: 500;
      letter-spacing: 2px;
      font-size: $normal-fontSize;

      &::before {
        content: "";
        position: absolute;
        left: 0rem;
        top: 50%;
        width: 5rem;
        height: 3px;
        background-color: $color-primary;
        transform: translateY(-50%);
      }
    }
    &__big--fontSize {
      font-size: 4rem;
      text-transform: capitalize;
    }
  }
  &__btn--inline {
    display: inline-block;
    box-sizing: border-box;
  }
}
