.services {
  background: $color-background;
  padding-top: 4rem;
  padding-bottom: 4rem;
  overflow: hidden;

  &__cardContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;

    &:hover {
      .previous__btn__secondary {
        left: 5rem;
      }
      .next__btn__secondary {
        right: 5rem;
      }
    }

    &__card {
      position: relative;
      height: 43rem;
      overflow: hidden;
      transition: filter 0.3s ease-in-out;

      &:hover {
        .services__cardContainer__card__image {
          transform: scale(1.1);
          filter: none;
          transition: all 0.5s ease-in-out;
        }
      }

      &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.65;
        filter: brightness(100%) contrast(100%) saturate(0) blur(0)
          hue-rotate(0deg);
        transition: all 0.5s ease-in-out;
      }
      &__info {
        position: absolute;
        bottom: 1.5rem;
        left: 1.5rem;
        right: 1.5rem;
        text-align: center;

        &__name {
          color: $color-primary;
          font-size: $normal-fontSize;
          padding-bottom: 1rem;
          font-weight: 500;
        }
        &__title {
          font-size: $medium-fontSize;
          font-weight: 700;
          white-space: nowrap;
          display: inline-block;
          cursor: pointer;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $color-primary;
            transition: width 0.35s ease-in-out;
          }

          &:hover {
            opacity: 1;
            color: $color-primary;

            &::before {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.previous__btn__secondary,
.next__btn__secondary {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 0;
  background-color: $color-primary;
  cursor: pointer;
  top: 43%;
}
.previous__btn__secondary {
  transform: rotate(180deg);
  left: -20rem;
  transition: left 0.7s ease;
}
.next__btn__secondary {
  right: -20rem;
  transition: right 0.7s ease;
}
