@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  text-decoration: none;
  list-style: none;
  letter-spacing: 0.03rem;
}

html {
  font-size: 62.5%;
  font-family: "Sen", sans-serif;
}
@media (max-width: 62em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 48em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 36em) {
  html {
    font-size: 37.5%;
  }
}

body {
  background-color: #000;
  color: #fff;
}

a {
  color: #fff;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex {
  display: flex;
}

.row {
  padding: 0 8rem;
}

.text-center {
  text-align: center;
}

.margin-top-small {
  margin-top: 1rem;
}

.margin-top-medium {
  margin-top: 4rem;
}

.margin-top-large {
  margin-top: 8rem;
}

.margin-bottom-small {
  margin-bottom: 2.5rem;
}

.margin-bottom-medium {
  margin-bottom: 4rem;
}

.margin-bottom-large {
  margin-bottom: 8rem;
}

.btn-primary {
  padding: 15px 25px;
  font-size: 17px;
  font-weight: 500;
  border: 2.5px solid #66fcf1;
  color: #66fcf1;
  transition: all 0.4s ease-in-out;
  white-space: nowrap;
}
.btn-primary:hover {
  color: #000;
  background: #66fcf1;
  border: 2.5px solid #66fcf1;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 75em) {
  .btn-primary {
    padding: 13px 23px;
  }
}

.btn-secondary {
  outline: 0;
  border: 0;
  padding: 1.7rem 2.5rem;
  background: #66fcf1;
  color: #000;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.07rem;
  cursor: pointer;
  font-family: "Sen", sans-serif;
}
.btn-secondary:hover {
  background: #f78550;
}

header {
  padding: 20px;
}
header .navigation {
  font-size: 16px;
  font-weight: 600;
  display: grid;
  grid-template-columns: 30% 70%;
  justify-content: space-between;
}
@media (max-width: 75em) {
  header .navigation {
    grid-template-columns: 100%;
  }
}
header .navigation__logo {
  display: flex;
  align-items: center;
  line-height: 60px;
}
header .navigation__logo--img {
  height: 37.5px;
  margin-right: 10px;
}
header .navigation__logo--title {
  font-size: 23px;
  font-weight: 700;
  white-space: nowrap;
  position: relative;
}
header .navigation__logo--title::before {
  content: "";
  position: absolute;
  bottom: 1.3rem;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #66fcf1;
  transition: width 0.35s ease-in-out;
}
header .navigation__logo--title:hover {
  opacity: 1;
  color: #66fcf1;
}
header .navigation__logo--title:hover::before {
  width: 100%;
}
header .navigation__bar {
  display: grid;
  grid-template-columns: 65% 32%;
  justify-content: space-between;
}
@media (max-width: 62em) {
  header .navigation__bar {
    grid-template-columns: 70%;
    gap: 34px;
  }
}
header .navigation__bar--mainlist {
  display: flex;
  align-items: center;
  line-height: 60px;
  justify-content: space-between;
}
@media (max-width: 62em) {
  header .navigation__bar--mainlist {
    gap: 34px;
    justify-content: flex-start;
  }
}
header .navigation__bar--mainlist-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
header .navigation__bar--secondlist {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 62em) {
  header .navigation__bar--secondlist {
    width: 60%;
    gap: 30px;
    justify-content: flex-start;
  }
}
header .navigation__bar--secondlist-item .user {
  display: flex;
  align-items: center;
  white-space: nowrap;
  transition: all 0.5s ease;
}
header .navigation__bar--secondlist-item .user:hover {
  color: #66fcf1;
}
header .navigation__bar--secondlist-item .user .color-blue {
  color: #66fcf1;
}
header .navigation__bar--secondlist-item .cart {
  transition: all 0.3s ease;
}
header .navigation__bar--secondlist-item .cart:hover {
  opacity: 0.6;
}

.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.hero__carousel {
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease-in-out;
  position: relative;
}
.hero__carousel--item {
  min-width: 100%;
  position: relative;
}
.hero__carousel--item-text {
  position: absolute;
  top: 20%;
  color: white;
  width: 55%;
}
.hero__carousel--item-text .heading-paragraph {
  color: #66fcf1;
  font-size: 3rem;
  font-weight: 500;
  text-transform: capitalize;
}
.hero__carousel--item-text .text-paragraph {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 30px;
}
.hero__carousel--item-text .hero-btns {
  align-items: center;
}
.hero__carousel--item-text .hero-btns .btn-play {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.hero__carousel--item-text .hero-btns .btn-play__div {
  position: relative;
  margin-left: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 8;
}
.hero__carousel--item-text .hero-btns .btn-play__div .icon-play {
  color: #66fcf1;
  background: transparent;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 500;
  font-family: "Sen", sans-serif;
  outline: 4px;
  border: 1px solid #66fcf1;
  border-radius: 50%;
}
.hero__carousel--item-text .hero-btns .btn-play__div::before, .hero__carousel--item-text .hero-btns .btn-play__div::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 50%;
}
.hero__carousel--item-text .hero-btns .btn-play__div::after {
  background: hsla(0, 0%, 100%, 0.749);
  z-index: 1;
  animation: pulseAnimation 1s infinite;
}
@keyframes pulseAnimation {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  100% {
    transform: scale(2.3);
    opacity: 0;
  }
}
.hero__carousel--item-text .hero-btns .watch-intro {
  margin-left: 3.5rem;
  font-size: 2rem;
  font-weight: 700;
}
.hero__carousel--item-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.hero .prev-btn,
.hero .next-btn {
  border: none;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 8;
  color: #66fcf1;
  top: 50%;
  background: transparent;
  border: 3px solid #66fcf1;
  padding: 1rem;
  z-index: 1000;
}
.hero .prev-btn {
  left: 2%;
  transform: rotate(180deg);
}
.hero .next-btn {
  right: 2%;
}

.heading-primary {
  font-size: 7rem;
  opacity: 0.9;
}

.whyUs {
  height: 100%;
  padding: 10vh 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 2rem;
  letter-spacing: normal;
  background-color: #0b0c10;
}
.whyUs__mainTopic {
  border: 2px solid #66fcf1;
  height: 100%;
  padding: 4rem;
  grid-column: 1/span 1;
}
.whyUs__mainTopic--heading {
  text-transform: capitalize;
  font-size: 3.8rem;
  margin-bottom: 3rem;
}
.whyUs__mainTopic--text {
  text-transform: capitalize;
  font-size: 1.7rem;
  line-height: 2.5rem;
}
.whyUs__mainTopic--btn {
  display: inline-block;
  margin-top: 2.5rem;
}
.whyUs__otherTopic {
  padding: 3rem 0 3rem 3rem;
  gap: 1.5rem;
}
.whyUs__otherTopic--cards {
  display: flex;
  gap: 1rem;
}
.whyUs__otherTopic--cards-item {
  padding: 1rem 0;
}
.whyUs__otherTopic--cards-item__icon {
  margin-right: 2.5em;
  margin-top: 3px;
}
.whyUs__otherTopic--cards-item__icon img {
  height: 35px;
}
.whyUs__otherTopic--cards-item__info--heading {
  font-size: 2.8rem;
  margin-bottom: 1.4rem;
  position: relative;
  display: inline-block;
}
.whyUs__otherTopic--cards-item__info--heading::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #66fcf1;
  transition: width 0.35s ease-in-out;
}
.whyUs__otherTopic--cards-item__info--heading:hover {
  opacity: 1;
  color: #66fcf1;
}
.whyUs__otherTopic--cards-item__info--heading:hover::before {
  width: 100%;
}
.whyUs__otherTopic--cards-item__info--text {
  text-transform: capitalize;
  font-size: 1.7rem;
  line-height: 2.5rem;
}

.experience {
  padding: 2rem 0;
}
.experience__heading--fontSize {
  font-size: 6rem;
}
.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.experience__content__left__textTop {
  font-size: 1.76rem;
  line-height: 3rem;
}
.experience__content__left__imageCards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.experience__content__left__imageCards img {
  height: 23rem;
  width: 100%;
  object-fit: cover;
}
.experience__content__left__stats {
  padding: 2.5rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.experience__content__left__stats__item__score {
  font-size: 4rem;
  margin-bottom: 1rem;
}
.experience__content__left__stats__item__score span {
  color: #66fcf1;
}
.experience__content__left__stats__item__title {
  font-size: 1.76rem;
  font-weight: 500;
}
.experience__content__right {
  width: 100%;
  display: flex;
  justify-content: center;
}

.services {
  background: #0b0c10;
  padding: 0 5rem;
}
.services__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.services__header__title__small {
  position: relative;
  display: inline-block;
  padding-left: 6rem;
  color: #66fcf1;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1.76rem;
}
.services__header__title__small::before {
  content: "";
  position: absolute;
  left: 0rem;
  top: 50%;
  width: 5rem;
  height: 3px;
  background-color: #66fcf1;
  transform: translateY(-50%);
}
.services__header__title__big--fontSize {
  font-size: 4rem;
}
.services__header__btn--inline {
  display: inline-block;
  box-sizing: border-box;
}
.services__cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
}
.services__cardContainer__card {
  position: relative;
  height: 43rem;
  overflow: hidden;
  filter: brightness(100%) contrast(100%) saturate(0) blur(0) hue-rotate(0deg);
  transition: filter 0.3s ease-in-out;
}
.services__cardContainer__card:hover {
  filter: none;
}
.services__cardContainer__card:hover .services__cardContainer__card__image {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.services__cardContainer__card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.65;
  transition: all 0.5s ease-in-out;
}
.services__cardContainer__card__info {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  right: 1.5rem;
  text-align: center;
}
.services__cardContainer__card__info__name {
  color: #66fcf1;
  font-size: 1.76rem;
  padding-bottom: 1rem;
  font-weight: 500;
  filter: none;
}
.services__cardContainer__card__info__title {
  font-size: 2.9rem;
  font-weight: 700;
  white-space: nowrap;
  display: inline-block;
  position: relative;
}
.services__cardContainer__card__info__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #66fcf1;
  transition: width 0.35s ease-in-out;
}
.services__cardContainer__card__info__title:hover {
  opacity: 1;
  color: #66fcf1;
}
.services__cardContainer__card__info__title:hover::before {
  width: 100%;
}