@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  letter-spacing: 0.03rem;
}

html {
  font-size: 62.5%;
  font-family: "Sen", sans-serif;
  padding: 0 5rem;
}
@media (max-width: 62em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 48em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 36em) {
  html {
    font-size: 37.5%;
  }
}

body {
  background-color: #000;
}

a {
  color: #fff;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex {
  display: flex;
}

.row {
  padding: 0 8rem;
}

.text-center {
  text-align: center;
}

.padding-hr-icon {
  padding-right: 1rem;
}

.margin-top-small {
  margin-top: 1rem;
}

.margin-top-medium {
  margin-top: 4rem;
}

.margin-top-large {
  margin-top: 8rem;
}

.margin-bottom-small {
  margin-bottom: 2rem;
}

.margin-bottom-medium {
  margin-bottom: 4rem;
}

.margin-bottom-large {
  margin-bottom: 8rem;
}

.btn-primary {
  padding: 15px 25px;
  font-size: 17px;
  font-weight: 500;
  border: 2.5px solid #66fcf1;
  color: #66fcf1;
  transition: all 0.4s ease-in-out;
  white-space: nowrap;
}
.btn-primary:hover {
  color: #000;
  background: #66fcf1;
  border: 2.5px solid #66fcf1;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 75em) {
  .btn-primary {
    padding: 13px 23px;
  }
}

.btn-secondary {
  outline: 0;
  border: 0;
  padding: 1.7rem 2.5rem;
  background: #66fcf1;
  color: #000;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.07rem;
  cursor: pointer;
  font-family: "Sen", sans-serif;
}
.btn-secondary:hover {
  background: #f78550;
}

header {
  padding: 20px;
}
header .navigation {
  font-size: 16px;
  font-weight: 600;
  display: grid;
  grid-template-columns: 30% 70%;
  justify-content: space-between;
}
@media (max-width: 75em) {
  header .navigation {
    grid-template-columns: 100%;
  }
}
header .navigation__logo {
  display: flex;
  align-items: center;
  line-height: 60px;
}
header .navigation__logo--img {
  height: 37.5px;
  margin-right: 10px;
}
header .navigation__logo--title {
  font-size: 23px;
  font-weight: 700;
  white-space: nowrap;
  position: relative;
}
header .navigation__logo--title::before {
  content: "";
  position: absolute;
  bottom: 1.3rem;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #66fcf1;
  transition: width 0.35s ease-in-out;
}
header .navigation__logo--title:hover {
  opacity: 1;
  color: #66fcf1;
}
header .navigation__logo--title:hover::before {
  width: 100%;
}
header .navigation__bar {
  display: grid;
  grid-template-columns: 65% 32%;
  justify-content: space-between;
}
@media (max-width: 62em) {
  header .navigation__bar {
    grid-template-columns: 70%;
    gap: 34px;
  }
}
header .navigation__bar--mainlist {
  display: flex;
  align-items: center;
  line-height: 60px;
  justify-content: space-between;
}
@media (max-width: 62em) {
  header .navigation__bar--mainlist {
    gap: 34px;
    justify-content: flex-start;
  }
}
header .navigation__bar--mainlist-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
header .navigation__bar--secondlist {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 62em) {
  header .navigation__bar--secondlist {
    width: 60%;
    gap: 30px;
    justify-content: flex-start;
  }
}
header .navigation__bar--secondlist-item a {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
header .navigation__bar--secondlist-item a .color-blue {
  color: #66fcf1;
}
header .navigation__bar--secondlist-item .user {
  transition: all 0.5s ease;
}
header .navigation__bar--secondlist-item .user:hover {
  color: #66fcf1;
}
header .navigation__bar--secondlist-item .cart {
  transition: all 0.3s ease;
}
header .navigation__bar--secondlist-item .cart:hover {
  opacity: 0.6;
}

.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.hero__carousel {
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease-in-out;
  position: relative;
}
.hero__carousel--item {
  min-width: 100%;
  position: relative;
}
.hero__carousel--item-text {
  position: absolute;
  top: 15%;
  color: white;
  width: 55%;
}
.hero__carousel--item-text .heading-paragraph {
  color: #66fcf1;
  font-size: 3rem;
  font-weight: 500;
  text-transform: capitalize;
}
.hero__carousel--item-text h1 {
  font-size: 9rem;
  opacity: 0.9;
}
.hero__carousel--item-text .text-paragraph {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 30px;
}
.hero__carousel--item-text .hero-btns {
  align-items: center;
}
.hero__carousel--item-text .hero-btns .btn-play {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.hero__carousel--item-text .hero-btns .btn-play__div {
  position: relative;
  margin-left: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 8;
}
.hero__carousel--item-text .hero-btns .btn-play__div .icon-play {
  color: #66fcf1;
  background: transparent;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 500;
  font-family: "Sen", sans-serif;
  outline: 4px;
  border: 1px solid #66fcf1;
  border-radius: 50%;
}
.hero__carousel--item-text .hero-btns .btn-play__div::before, .hero__carousel--item-text .hero-btns .btn-play__div::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 50%;
}
.hero__carousel--item-text .hero-btns .btn-play__div::after {
  background: hsla(0, 0%, 100%, 0.749);
  z-index: 1;
  animation: pulseAnimation 1s infinite;
}
@keyframes pulseAnimation {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  100% {
    transform: scale(2.3);
    opacity: 0;
  }
}
.hero__carousel--item-text .hero-btns .watch-intro {
  margin-left: 3.5rem;
  font-size: 2rem;
  font-weight: 700;
}
.hero__carousel--item-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.hero .prev-btn,
.hero .next-btn {
  border: none;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 8;
  color: #66fcf1;
  top: 50%;
  background: transparent;
  border: 3px solid #66fcf1;
  padding: 1rem;
  z-index: 1000;
}
.hero .prev-btn {
  left: 2%;
  transform: rotate(180deg);
}
.hero .next-btn {
  right: 2%;
}